/*nav-bar start*/
.nav-bar .container a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.nav-bar .container ul {
	list-style-type: none;
	margin-top: 30px;
}

.nav-bar .container li {
	display: inline;
	margin: 0 30px 0 0;
	color: #969696;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	letter-spacing: 0.2em;
}

.nav-bar .container .pull-left li{
	font-size: 20px;
	letter-spacing: 0.05em;
	font-family: "Open Sans" sans-serif;
}

.nav-bar .container .current {
	color: #D9D9D9;
}
/*nav-bar end*/

#fixedright {
	position: fixed;
	right: 30px;
	bottom: 50%;
}

#fixedleft {
	position: fixed;
	left: 30px;
	bottom: 50%;
}

#arrow {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #D9D9D9;
}

.works-preview .container {
	margin-top: 50px;
}

.works-preview .container h2 {
	display: none;
	font-family: "Open Sans", sans-serif;
	color: #424242;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: -15px;
}

.works-preview .container h3 {
	display: none;
	font-family: "Open Sans", sans-serif;
	color: #969696;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-align: center;
	margin-bottom: -42px;
}

.thumb {
	display: block;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}

.works-preview .container #under {
	margin-bottom: 30px;
}

.works-preview .container #filler {
	height: 100px;
}

.works-preview .container #filler2 {
	height: 90px;
}

/*-------------------------------------*/

.header-pic .container {
	margin-top: 30px;
}

.header-pic .container #exchange0 {
	display: block;
	width: 30%;
	margin: auto;
	margin-bottom: 30px;
}

.header-pic .container h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.05em;
}

.header-pic .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.05em;
	font-size: 24px;
	margin-top: -5px;
}

.header-pic .container br {
	line-height: 150%;
}

.header-pic .container p {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.05em;
	margin-top: 20px;
}

.description-exchange .container {
	margin-top: 30px;
}

.description-exchange .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.05em;
}

.description-exchange .container p {
	font-family: "Open Sans" sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 23px;
	line-height: 170%;
}

.description-exchange .container br {
	line-height: 250%;
}

.description-exchange .container #exchangeideas {
	display: block;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

.description-exchange .container #exchange1 {
	display: block;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

.description-exchange .container #exchange2 {
	display: inline;
	width: 300px;
	margin: auto;
	margin-right: 10px;
	margin-top: 30px;
}

.description-exchange .container #exchange3 {
	display: inline;
	width: 495px;
	margin: auto;
	margin-top: 30px;
}

.description-exchange .container #exchange4 {
	display: block;
	width: 700px;
	margin: auto;
	margin-top: 30px;
}

.description-exchange .container #exchange5 {
	display: block;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.description-exchange .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	margin-bottom: 30px;
}

.description-exchange .container #images {
	text-align: center;
}

.description-exchange .container #filler {
	height: 50px;
}

.description-exchange .container #exchangegif1 {
	display: block;
	margin: auto;
}

.description-exchange .container iframe {
	display: block;
	margin: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*-------------------------------------*/

#sl0 {
	display: block;
	width: 50%;
	margin: auto;
	margin-bottom: 30px;
}

.description-slmethod .container {
	margin-top: 30px;
}

.description-slmethod .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.05em;
}

.description-slmethod .container p {
	font-family: "Open Sans" sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 23px;
	line-height: 170%;
}

.description-slmethod .container br {
	line-height: 250%;
}

.description-slmethod .container #sl1 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl2 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl3 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl4 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl5 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl6 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl7 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl8 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl9 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #sl10 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #slusertest1 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
	margin-right: 10px;
}

.description-slmethod .container #slusertest2 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-slmethod .container #images {
	text-align: center;
}

.description-slmethod .container #images2 {
	text-align: center;
}

.description-slmethod .container #images3 {
	text-align: center;
}

.description-slmethod .container #images4 {
	text-align: center;
}

.description-slmethod .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
}

.description-slmethod .container #filler {
	height: 50px;
}

/*-------------------------------------*/

#myflow0 {
	display: block;
	width: 25%;
	margin: auto;
	margin-bottom: 30px;
}

.description-myflow .container {
	margin-top: 30px;
}

.description-myflow .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.05em;
}

.description-myflow .container p {
	font-family: "Open Sans" sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 23px;
	line-height: 170%;
}

.description-myflow .container br {
	line-height: 250%;
}

.description-myflow .container #myflow1 {
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 30px;
}

.description-myflow .container #myflow2 {
	display: block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
}

.description-myflow .container #myflow3 {
	display: inline-block;
	width: 25%;
	margin: auto;
	margin-top: 30px;
	margin-right: 10px;
}

.description-myflow .container #myflow4 {
	display: inline-block;
	width: 25%;
	margin: auto;
	margin-top: 30px;
}

.description-myflow .container #images {
	text-align: center;
}

.description-myflow .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
}

.description-myflow .container iframe {
	display: block;
	margin: auto;
	margin-top: 30px;
}

.description-myflow .container #filler {
	height: 50px;
}

.description-myflow .container #myflow5 {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*-------------------------------------*/

#enabled0 {
	display: block;
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
}

.description-enabled .container {
	margin-top: 30px;
}

.description-enabled .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.05em;
}

.description-enabled .container p {
	font-family: "Open Sans" sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 23px;
	line-height: 170%;
}

.description-enabled .container br {
	line-height: 250%;
}

.description-enabled .container #enabled1 {
	display: block;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

.description-enabled .container #enabled2 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.description-enabled .container #enabled3 {
	display: inline-block;
	width: 400px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.description-enabled .container #images {
	text-align: center;
}

.description-enabled .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
}

.description-enabled .container iframe {
	display: block;
	margin: auto;
}

.description-enabled .container #filler {
	height: 50px;
}

/*-------------------------------------*/


/*-------------------------------------*/

#caltaiko0 {
	display: block;
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.description-caltaiko .container {
	margin-top: 30px;
}

.description-caltaiko .container h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.05em;
}

.description-caltaiko .container p {
	font-family: "Open Sans" sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-left: 50px;
	margin-top: 23px;
	line-height: 170%;
}

.description-caltaiko .container br {
	line-height: 250%;
}

.description-caltaiko .container #caltaiko1 {
	display: block;
	margin: auto;
	margin-top: 30px;
}

.description-caltaiko .container #caltaiko2 {
	display: block;
	width: 40%;
	margin: auto;
	margin-top: 30px;
}

.description-caltaiko .container .sample {
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 30px;
}

.description-caltaiko .container #last {
	margin-bottom: 30px;
}

.description-caltaiko .container #images {
	text-align: center;
}

.description-caltaiko .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
}

.description-caltaiko .container #filler {
	height: 50px;
}

/*-------------------------------------*/

.sketches .container img {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.sketches .container #peony {
	width: 40%;
}

.sketches .container #fashion {
	width: 60%;
}

.sketches .container #evilgood {
	width: 60%;
}

.sketches .container #happiness {
	width: 60%;
}

.sketches .container .images {
	text-align: center;
}

.sketches .container .caption {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	margin-bottom: 40px;
	margin-top: -10px;
}

/*-------------------------------------*/



.profile .container {
	margin-top: 50px;
}

.profile img {
	width: 550px;
}

.profile #description h1 {
	margin-left: 30px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #424242;
}

.profile #description p {
	margin-top: 40px;
	margin-left: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #969696;
	line-height: 180%;
}

.profile #description br {
	line-height: 300%;
}